body {
    background-color: ivory;
    color: gray
}
h1 {
    font-size: 35px;
}
p {
    font-size: 16px;
    color: darkblue;
    background-color: lavender;
}
ol {
    list-style-type: none;
    counter-reset: my-counter;
}
li {
    counter-increment: my-counter;
    
}
li:before {
    content: counter(my-counter, lower-alpha) ". "; 
    margin-right: 5px; 
}
ul {
    list-style-type: none;
    counter-reset: my-counter;  
}

ul li {
    counter-increment: my-counter-ul;
}

ul li:before {
    content: counter(my-counter-ul, square) ". "; 
    margin-right: 5px;  
}

div {
    border:2px dotted
}
