body {
    background-color: ivory;
    color: gray
}
h1 {
    font-size: 35px;
}
p {
    font-size: 16;
    color: darkblue;
    background-color: lavender;
}

ol {
    list-style-type: lower-alpha;
    counter-reset: my-counter;
}

ul {
    list-style-type: square;
    margin-bottom: 16px;
}

li {
    counter-increment: my-counter;
    margin-bottom: 8px;
  }

li:before {
    content: counter(my-counter) ". "; 
    margin-right: 5px; 
  }
